<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="styles/index.js"></script>
    <title></title>
  </head>
  <body>
    <div id="bg"></div>

    <div id="center">
    			<div class="section">
    				<p class="title main-title">
              <!-- <h1>Rico Na$ty</h1> -->
              <img class="title-img icon-title-img-1" src="assets/RicoNasty.gif">
              <!-- <img class= "diamond" src="assets/pinkdiamond.png">
              <img class= "diamond" src="assets/pinkdiamond.png">
              <img class= "diamond" src="assets/pinkdiamond.png">
              <img class= "diamond" src="assets/pinkdiamond.png">
              <img class= "diamond" src="assets/pinkdiamond.png">
              <img class= "diamond" src="assets/pinkdiamond.png"> -->

              <img class="title-img icon-title-img-1" src="assets/songtitle.gif">
              <div class="buffer"></div>
    				</p>
    				<p class="title subtitle"></p>
    			</div>

        	<div class="section">
    				<div class="title">
              <!-- <h1>Idea/Theme</h1> -->
    					<img class="title-img" src="assets/ideaTitle.gif">
    				</div>
    				<p>
              I originally conceptuaized this video for “Sugar Life” “Sugar Shxt” but the more i got into the ideas the more i realized that this treatment completely encapsulates not only the sugar trap brand but also Rico herself…
            </p>
            <p>
              The video concept is just her getting pampered @ the Mansion and subtly revolves around the continued idea from her last visual “Sugar Trap 2” that she has super powers and special abilities (all woman are super heroes ) with each shot showcasing one of her “powers”. The focus is taking the the most relatable and iconic aspects of womanly life and exaggerating them to the dopest level
            </p>
        	</div>

    			<div class="section">
    				<div class="title">
              <!-- <h1>Synopsis</h1> -->
    					<img class="title-img" src="assets/synopsis.gif">
    				</div>
            <h3>Concept 1 for opening shot</h3>
            <p>
              Animated tacobella character astral projecting into someones dream flying to the crib with exposition shots of the environment.(shot will be created using drone) climbing into ricos ear then she wakes up
            </p>
            <h3>Concept 2</h3>
    				<p>
              Starts with an Over the bed shot of her just waking up pupils dilating very dynamic closeup.
            </p>
            <img src="assets/eyes.gif" alt="Eyes">
            <p>
            </p>
    				<p>
              The video continues with Rico going into the living room where an older lady (of asian descent) is waiting there to do her acryllics. Its in this shot that the first super power is showcased TITANIUM NAILS!!! we’ll probably shoot real sparks from a real grinder and get some spark vfx
            </p>
            <img src="assets/nails.gif" alt="">
            <img src="assets/sparks.gif" alt="">
    				<p>
              Rico leaves acryllic station to go get in the bathtub( b-roll of her running through the house blowing smoke maybe she slices something with her nails otw etc.)
            </p>
    				<p>
              Bath tub scene is very vibey as far as lighting
              In this scene we’ll highlight the magic of skincare and cosmetics. A bath bomb that contains the universe and all kinds of dope shit.
            </p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/8Yqru5UXWGY" frameborder="0" allowfullscreen></iframe>
    				<img src="assets/bathbomb.gif" alt="bathbomb">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/vJgwn7b5Iug" frameborder="0" allowfullscreen></iframe>
            <p>These shots will be very symmetrical will have lights on a timer and when rico interacts with the bath bomb light will sync to beat (would also like to create a diamond bubble soap dispenser kind of off aesthetic but still dope)</p>
            <img src="assets/lilpeep.gif" alt="sparks">
            <br>
            <br>
            <h3>Thank You</h3>
          </div>
    </div>

  </body>
</html>
